/*
COLORS:
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1199px) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 991px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 767px) {
    html {
      font-size: 50%; } }
  @media (max-width: 575.98px) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 375px) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }

.heading_primary {
  font-weight: 700;
  font-size: 5rem; }
  @media (max-width: 767px) {
    .heading_primary {
      font-size: 4rem; } }

.heading_secondary {
  font-size: 5rem;
  font-weight: 700; }

.heading_tertiary {
  font-size: 2.5rem;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400; }

.mb-7 {
  margin-bottom: 7rem !important; }

.hero_section {
  background-color: #2d2640;
  padding: 15rem 0;
  color: #fff;
  position: relative; }
  @media (max-width: 991px) {
    .hero_section {
      padding: 4rem 0 !important; } }
  .hero_section-container {
    position: relative; }
  .hero_section-img {
    position: absolute;
    right: 0;
    top: -15%; }
    @media (max-width: 1199px) {
      .hero_section-img {
        width: 50%; } }
    @media (max-width: 991px) {
      .hero_section-img {
        top: 5%; } }
    @media (max-width: 575.98px) {
      .hero_section-img {
        display: none; } }
    @media (min-width: 577px) {
      .hero_section-img--sm {
        display: none; } }
  .hero_section .before-border {
    position: relative; }
    .hero_section .before-border::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 11.5rem;
      height: 1px;
      left: 0;
      top: -30%;
      background-color: #fffbff; }
    @media (max-width: 991px) {
      .hero_section .before-border::before {
        content: unset; } }
  .hero_section-art {
    position: absolute;
    z-index: 100; }
  .hero_section-art--1 {
    left: 0;
    bottom: -58%; }
    @media (max-width: 991px) {
      .hero_section-art--1 {
        bottom: -55%;
        width: 15%; } }
    @media (max-width: 575.98px) {
      .hero_section-art--1 {
        bottom: unset;
        top: 0;
        width: 33%; } }
    @media (max-width: 375px) {
      .hero_section-art--1 {
        width: 57%; } }
  .hero_section-art--2 {
    right: 0;
    top: -10%; }
    @media (max-width: 1199px) {
      .hero_section-art--2 {
        width: 30%; } }
    @media (max-width: 575.98px) {
      .hero_section-art--2 {
        width: unset;
        top: unset;
        bottom: -68%; } }

.feature_section {
  margin-top: 37rem; }
  .feature_section p {
    font-size: 1.6rem;
    color: #999; }
  @media (max-width: 991px) {
    .feature_section {
      margin-top: 25rem; } }
  .feature_section .before-border {
    position: relative; }
    .feature_section .before-border::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 11.5rem;
      height: 1px;
      left: 0;
      top: -60%;
      background-color: #b1a3b4; }
    @media (max-width: 767px) {
      .feature_section .before-border::before {
        left: 50%;
        transform: translate(-50%, -50%); } }

.cta_section {
  margin: 11.5rem 0;
  z-index: 0;
  overflow: hidden; }
  .cta_section-box {
    background-color: #2d2640;
    padding: 5rem; }
  .cta_section-button {
    z-index: 100000; }
  .cta_section-container {
    position: relative; }
  .cta_section-art {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 2; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: .5rem 1.8rem !important;
  letter-spacing: 2px;
  border-radius: 0;
  text-transform: uppercase;
  transition: all .5s;
  white-space: nowrap !important; }

.btn-text-dark {
  color: #000 !important;
  border: 2px solid #2b282f; }

.btn-text-light {
  border: 2px solid #fff;
  color: #fff !important; }

.btn-text-light:hover {
  background-color: #fff !important;
  color: #2b282f !important; }

.btn-text-dark:hover {
  background-color: #2b282f;
  color: #fff !important; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000 !important; }

nav.navigation {
  padding: 2rem 0;
  z-index: 1000;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  nav.navigation ul li:not(:last-child) {
    margin-right: 2rem;
    letter-spacing: 2px; }

.footer_section {
  background-color: #fafafa;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0; }
  .footer_section-social {
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid #dedede; }
    .footer_section-social ul li {
      list-style-type: none;
      display: inline-block; }
      .footer_section-social ul li:not(:last-child) {
        margin-right: 1.5rem; }
  .footer_section-art {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  .footer_section-social-link ul li a, .footer_section-social-link ul li a:link, .footer_section-social-link ul li a:visited {
    font-size: 4rem;
    color: #837D88; }
  .footer_section-social-link ul li a:hover {
    color: #2d2d2d; }
  .footer_section-navigation-list {
    letter-spacing: 1px; }
    .footer_section-navigation-list p {
      font-size: 1.3rem;
      color: #737373; }
    .footer_section-navigation-list ul {
      font-size: 1.4rem; }
      .footer_section-navigation-list ul li {
        list-style-type: none; }
        .footer_section-navigation-list ul li a {
          color: #000; }
